include README.md
include LICENSE
include CHANGELOG.md
recursive-include reference *.md
recursive-include examples *.py
recursive-include packaging/linux *.rules *.desktop *.sh
recursive-include assets/readme *
